.App {
  margin: 0;
  height: 0;
  text-align: center;
  background: mistyrose;
  color: crimson;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.masthead {
  background: url("../src//assets/img/wallpaper.png") !important;
  background-repeat: no-repeat !important;
}
/*navbar brand*/
.navbar-brand {
  font-size: 5rem;
}
/*navbar brand*/
/*link*/
.link:hover {
  text-decoration: none;
}
/* Hero */
.defaultHero,
.productsHero {
  min-height: calc(100vh - 66px);
  background: pink center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productsHero {
  background-image: pink;
  min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 16rem;
  height: 5px;
  margin: 0 auto;
  background: crimson;
}
/* end of Title */
/* featured products */

.featured-products {
  padding: 5rem 0;
}
.featured-products-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-products-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-products-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured products */
/* product */
.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 228, 225, 0.753);
  color: var(--mainWhite);
  padding: 0.5rem 0.7rem 0rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.price-top p {
  font-size: 0.7rem;
  font-weight: 600;
}
.product-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.btn-primary {
  background: transparent !important;
  border: 5px mistyrose !important;
  border-style: solid !important;
  padding: 1rem !important;
}
.btn-primary:hover {
  background: mistyrose !important;
  text-decoration: none !important;
  color: crimson !important;
}

.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .product-link {
  transform: translate(-50%, -50%) scale(1);
}
/*buying add cart product*/
.product-info {
  display: block;
  background: #fff;
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
.product-info button {
  color: crimson;
}
.product-info .product-button button {
  text-align: center;
  margin: 0;
  padding: 0;
}
.product-info .product-button i {
  margin-top: 4%;
  font-size: 30px;
}
/* end of product  */
/* single product*/

.single-product {
  padding: 5rem 0 0 0;
}
.single-product-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-product-images img {
  width: 100%;
  display: block;
}
.single-product-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.product-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.product-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-product-images,
  .single-product-info,
  .product-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-product-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single product*/
/* productlist */
.productslist {
  padding: 5rem 0;
}
.productslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .productslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .productslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of productlist */
/*  products fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
/*style input range*/
input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: crimson;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #65001c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: crimson;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: crimson;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #65001c;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: crimson;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: crimson;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #65001c;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: crimson;
}
input[type="range"]:focus::-ms-fill-upper {
  background: crimson;
}

/*style input range*/

.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra {
  margin-left: 2rem;
  color: crimson;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of products fitler*/
/* footer */
.footer {
  position: initial;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
/* end of footer */
/* cart */
#cart {
  margin-top: 100px;
  margin-bottom: 100px;
}
.cake-image-cart {
  width: 150px;
  height: 90px;
}
.ant-table-title {
  color: crimson;
  font-size: 30px;
}
.ant-table-footer {
  text-align: right;
  color: crimson;
  font-size: 20px;
}
.name-table {
  text-transform: capitalize;
}
@media screen and (min-width: 992px) {
  .table {
    width: 100px;
  }
}
.fa-cart-plus::before {
  cursor: pointer;
}
#btn-payment {
  position: absolute;
  right: 200px;
  background-color: white !important;
  color: crimson;
  border-radius: 10px;
  padding: 10px !important;
}
#btn-payment:hover {
  background-color: crimson !important;
  color: white !important;
}
#btn-back {
  position: absolute;
  left: 200px;
  background-color: white !important;
  color: crimson;
  border-radius: 10px;
  padding: 10px !important;
}
#btn-back:hover {
  background-color: crimson !important;
  color: white !important;
}
@media screen and (max-width: 376px) {
  .ant-btn-dangerous {
    padding: 5px !important;
  }
  #btn-payment {
    right: 10px;
  }
  #btn-back {
    left: 10px;
  }
}

/* end of cart */
/* step content in payment */
.steps-content {
  min-height: 200px;
  margin-top: 16px;
  padding-top: 80px;
  text-align: center;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}
.steps-action {
  margin-top: 24px;
}
.payment {
  margin-top: 100px;
  margin-bottom: 100px;
}
.hidden {
  display: none;
}
/* antd step panel */
.ant-page-header-heading-title {
  color: crimson !important;
  font-size: 24px;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background-color: crimson;
}
.ant-steps-item-process .ant-steps-item-icon {
  border-color: crimson;
}
.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff;
  border-color: crimson;
}
.anticon svg {
  display: inline-block;
  color: crimson;
}
.ant-steps-item-icon .ant-steps-icon {
  top: -3px;
}
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: crimson;
}
/*end antd step panel */
/* step content */
.steps-content {
  margin: 10px;
  padding: 50px 0 0 0;
  background-color: rgba(255, 255, 255, 0.418);
}
.title {
  text-align: left;
  color: crimson;
}
@media screen and (max-width: 376px) {
.rccs{
  width: 250px;
}
.rccs__card {
    width: auto; 
}
.form-card-credit{
  padding: 10px !important  ;
  margin: 0 !important;
}
.ant-steps.ant-steps-horizontal.ant-steps-label-horizontal{
  width: 200px;
}
}
/* end step content  */
/* card credit */
.form-card-credit {
  margin: 10px 110px 0 110px;
}

#input-card-credit {
  box-sizing: border-box !important;
  margin: 2px !important;
  padding: 0 !important;
  font-variant: tabular-nums !important;
  list-style: none !important;
  font-feature-settings: "tnum", "tnum" !important;
  position: relative !important;
  display: inline-block !important;
  width: 100% !important;
  min-width: 0 !important;
  padding: 4px 11px !important;
  color: rgba(0, 0, 0, 0.85) !important;
  font-size: 14px !important;
  line-height: 1.5715 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 2px !important;
  transition: all 0.3s !important;
}
/* end card credit */
/*end step content in payment */
